<?xml version="1.0" encoding="ISO-8859-1"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>


 


  <servlet>
	<servlet-name>shreg001</servlet-name>
	<servlet-class>controllers.ShowRegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>shreg001</servlet-name>
	<url-pattern>/showregister.do</url-pattern>
  </servlet-mapping>


  <servlet>
	<servlet-name>reg002</servlet-name>
	<servlet-class>controllers.RegisterServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>reg002</servlet-name>
	<url-pattern>/register.do</url-pattern>
  </servlet-mapping>



  <servlet>
	<servlet-name>log003</servlet-name>
	<servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>log003</servlet-name>
	<url-pattern>/login.do</url-pattern>
  </servlet-mapping>



  <servlet>
	<servlet-name>shlog004</servlet-name>
	<servlet-class>controllers.ShowLoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>shlog004</servlet-name>
	<url-pattern>/showlogin.do</url-pattern>
  </servlet-mapping>

  


  <servlet>
	<servlet-name>mdt005</servlet-name>
	<servlet-class>controllers.MyDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>mdt005</servlet-name>
	<url-pattern>/mydata.do</url-pattern>
  </servlet-mapping>




  <servlet>
	<servlet-name>adpg006</servlet-name>
	<servlet-class>controllers.AdminPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>adpg006</servlet-name>
	<url-pattern>/adminpage.do</url-pattern>
  </servlet-mapping>



  <servlet>
	<servlet-name>act007</servlet-name>
	<servlet-class>controllers.ActivateAccountServlet</servlet-class>
  </servlet>

  <servlet-mapping>
	<servlet-name>act007</servlet-name>
	<url-pattern>/activate.do</url-pattern>
  </servlet-mapping>





  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>

  
  <listener>
	<listener-class>listeners.AppListener</listener-class>
  </listener>

  

  <welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
